@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
.contact{
    width: 45rem;
    margin-bottom: 1rem;
}
.contenaire{
    gap: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
} 
.contenaire2{
    gap:12rem
}

.verifier{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
 
}
.check-admin {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.reset-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.info-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.admin-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.error-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.redirect-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.form-info{
    width: 35rem;
}
.return{
    height: 2rem;
}
.first-input{
    width: 25rem;
}
.loading-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}


  
.profil-page.expanded {
    width: 100%; /* Adjust this value as needed */
  }

.colone-gauche{
    margin-top: 5rem;
}
.profil-page{
    gap: 2rem;
    width: 25rem;
    margin-top: 3rem;
    height: 40rem;
    transition: width 0.5s ease-out;
}

.container{
    width: 50rem;
    height: 35rem;
}
.message-container{
    width: 35rem;
    border: 1px solid red;
}
/* Media Query */
@media screen and (min-width: 1024px) {
    .nav-page {
      width: 83.4%; /* Le Navbar occupe toute la largeur de l'écran */
      margin-left: 15.6rem; /* Aucun décalage lorsque le Sidebar est masqué */
    }
  }