@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
.contact{
    width: 45rem;
    margin-bottom: 1rem;
}
.contenaire{
    gap: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
} 
.contenaire2{
    gap:12rem
}

.verifier{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
 
}
.check-admin {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.reset-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.info-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image.jpg');
}
.admin-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/public/image.jpg');
}
.form-info{
    width: 35rem;
}
.colone-gauche{
    margin-top: 5rem;
}
.profil-page{
    gap: 2rem;
    width: 45rem;
    height: 40rem;
    
}



@media screen and (min-width: 1024px) {
    .nav-page {
      width: 83.4%; /* Le Navbar occupe toute la largeur de l'écran */
      margin-left: 15.6rem; /* Aucun décalage lorsque le Sidebar est masqué */
    }
  }