@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
.contact{
    width: 45rem;
    margin-bottom: 1rem;
}
.contenaire{
    
    background-image: url('../public/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   } 
.contenaire2{
    gap: 8rem;
}
.aboutSection{
    width: 69rem;
}
.verifier{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
 
}
.check-admin {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/home2.jpg');
}
.reset-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/home2.jpg');
}
.info-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/home2.jpg');
}
.admin-page{
    background-image: url('../public/home2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.error-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/home2.jpg');
}
.redirect-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/home2.jpg');
}
.etudiant-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/home2.jpg');
}
.form-info{
    width: 35rem;
}
.return{
    height: 2rem;
}
.return2{
    height: 2rem;
    margin-right: 35rem;
}
.first-input{
    width: 25rem;
}
.loading-page{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./home.jpg');
}
.image-profile{
   
    margin-bottom: 13rem;
    margin-left: 5rem;
    height: 49rem;
    width: 55rem;
    border:1px solid black;
}
.profile{
    width: 50rem;
    height: 40rem;
    margin-bottom: 8rem;
}
.profile-page{
    margin-top: 2rem;
    height: 40rem;
    width: 25rem;
}
.changement{
    width: 50rem;
    margin-right: 18rem;
}
.bt{
    margin-top: 0.7rem;
    margin-right: 54rem;
}
.date-container{
    width: 94rem;
    height: 80rem;
    margin-bottom: 2rem;
    backdrop-filter: blur(4px);
}
.profile-page.expanded{
    width: 45rem;
    transition: 0.6s ease-in-out;
}
.profile-etu{
    width: 40rem;
    backdrop-filter: blur(4px);
}
.profile-etu1{
    width: 70rem;
    backdrop-filter: blur(4px);
}

.profile-page.transition-form {
    transition: 0.4s ease-in-out;
    width: 25rem; 
  }

.page-etudiant{
    margin-top: 4rem;
    width: 95rem;
    height:40rem;
    backdrop-filter: blur(4px);
    z-index: 0;
}  
.page-professeur{
    margin-top: 4rem;
    width: 95rem;
    height: 40rem;
    backdrop-filter: blur(4px);
    z-index: 0;
}
.page-setting{
    backdrop-filter: blur(4px);
}  
.page-date{
    backdrop-filter: blur(4px);
}
.table-etudiant{
    width: 94rem;
    height: 37rem;
    margin-left: 0.5rem;
}

.table-prof{
    width: 94rem;
    height: 37rem;
    margin-left: 0.5rem;
}
.file-upload-button {
    background-color: transparent;
    border:1px solid  rgb(69, 189, 253);
    color: black;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
.file-upload-button:hover {
   
    border:1px solid  rgb(69, 115, 253);
  }
.ajouter{
    margin-left: 4rem;
}
.search{
 text-indent: 2rem;
margin-left: 1rem;
border-radius: 8px;
}  
.image{
    width:40rem ;
}
.fenetre{
    width: 25rem;
}
.fenetre2{
    width: 52rem;
}
.binomes{
    margin-bottom: 15rem;
    backdrop-filter: blur(4px);
}
.profile-etudiant{
    width: 40rem;
}

.container {
    width: 95rem;
    margin-top: 4rem;
    height: 40rem;
    backdrop-filter: blur(4px);
    z-index: 0;
}
.container2 {
    width: 95rem;
    height: 45rem;
    backdrop-filter: blur(4px);
    z-index: 0;
}
.message-container{
    width: 35rem;  
  
}
.message-container2 {
    max-height: 25rem;
    margin-top: 4rem;
    width: 95rem;

}

.table-message{
    width: 94rem;
   
}

.relative.overflow-x-auto::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

.relative.overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #7a8798; /* Couleur de fond de la partie déplaçable */
    border-radius: 6px; /* Bordure arrondie */
}

.relative.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background-color: #4c576a; /* Couleur de fond de la partie déplaçable au survol */
}

.relative.overflow-x-auto::-webkit-scrollbar-track {
    background-color: #cbd5e0; /* Couleur de fond de la piste */
    border-radius: 6px; /* Bordure arrondie */
}
thead th {
    position: sticky;
    top: 0;
    background-color: #2d3748;;
    color: white; /* Couleur de fond pour les en-têtes fixes */
}

.skelaton{
    margin-top: 3rem;
    height: 25rem;
    width: 74rem;
    
}

.unread-indicator {
    position: relative;
}

.unread-indicator::before {
    content: '';
    position: absolute;
    top: -5px; /* Ajustez la position verticale selon vos besoins */
    right: -5px; /* Ajustez la position horizontale selon vos besoins */
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
.unread-dot{
    display: block;
}
#title{
    text-indent: 0.3rem;
}
.ins{
    margin-left: 20rem;
    margin-top: 1.5rem;
}
.image-error{
    width: 40rem;
}
/* Media Query */
@media screen and (min-width: 1024px) {
    .nav-page {
      width: 83.4%; /* Le Navbar occupe toute la largeur de l'écran */
      margin-left: 15.6rem; /* Aucun décalage lorsque le Sidebar est masqué */
    }
  }